@media (max-width: 750px){
  
    .grid-container{
        grid-template-areas: 
        'header2  header2'
        'foto foto'
        'redesSociales redesSociales'
        'descripcion descripcion';
      }
      .grid-container div.item1{
        display: none;
      }
      .grid-container .item2{
        border-radius: 0 0 40px 40px;
        font-weight: bold;
      }
      #cuadricula{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        
      }
 }
 @media (max-width: 500px){
      .containerInfo{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
      }
      .grid-container div.item1{
        display: none;
      }
      .pelicula{
        background-color: #FEDCD2;
      }
 }