@media (max-width: 750px){
  
    .grid-container{
        grid-template-areas: 
        'header2  header2'
        'foto foto'
        'redesSociales redesSociales'
        'descripcion descripcion';
      }
      .grid-container div.item1{
        display: none;
      }
      .grid-container .item2{
        border-radius: 0 0 40px 40px;
        font-weight: bold;
      }
      #cuadricula{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 1em;
        height: 300px;
      }
 }
 @media (max-width: 500px){
      .containerInfo{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
      }
      .grid-container div.item1{
        display: none;
      }
 }