/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@900&display=swap');

*{
    font-family: 'Martel Sans', sans-serif; 
}
html, body { 
    height: 100%; 
    background-color: white;
     }
body { 
    margin: 0; 
    font-family: 'Martel Sans', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Martel Sans', sans-serif }
