
.container{
    background: #393939;
    color: white;
}
.titulo{
    color: #EEE73F;
}
.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .photo {
	background-size: cover;
} 
#portada{
    background-size: cover;
    height: 100vh;
    min-width: 100vw;
}
