<div class="container">
    <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand titulo" href="#">
            <img src="../../assets/imagenes/film.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            RentMovie
          </a>
        </div>
      </nav>
    <mat-tab-group dynamicHeight>
        <mat-tab label="Recomendadas">
            <img src='http://2.bp.blogspot.com/-_XLDove9DVk/Uw_oh6CXi4I/AAAAAAAAnk0/dadKrDszuzo/s1600/divergent.jpg' alt="" id="portada">
            <div class="row">
                <mat-grid-list cols="3" rowHeight="200px">
                    <mat-grid-tile
                    class="photo"
                    *ngFor="let photo of photos"
                    [colspan]="1"
                    [rowspan]="1"
                    [style.background-image]="'url(' + photo.url + ')'">
                    </mat-grid-tile>
                </mat-grid-list>
                <!-- <div id="id1" class="col-4 p-0"></div>
                <div id="id2" class="col-4 p-0"></div>
                <div id="id3" class="col-4 p-0"></div> -->
            </div>
        </mat-tab>
        <mat-tab label="Comedia"> Content 2 </mat-tab>
        <mat-tab label="Terror"> Content 3 </mat-tab>
        <mat-tab label="Accion"> Content 3 </mat-tab>
    </mat-tab-group>
    
</div>
